# Dependências
node_modules/

# Variáveis de ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Arquivos de log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Pastas de build ou cobertura de testes
dist/
build/
coverage/